#info {
  float: left;
  background: white;
  text-align: center;
  padding: 0px 20px;
  width: 35%; 
  height: 93vh;
  border: 5px solid navy;
}
#mymap {
  float: right;
  width: 60%; 
  height: 93vh;
  border: 5px solid navy;
}
