* {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.title {
  font-weight: bold;
  color: rgb(20 13 117);
}

body {
  background-color: rgb(242 184 142);
}

nav {
  font-weight: bold;
  color: rgb(20 13 117);
}

p {
  color: black;
  font-weight: 400;
}

/* might change underline to bottom border */
.bckimg {
  min-height: 100vh;
  background-image: url("../images/uiuccollage.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.description {
  box-sizing: content-box;
  width: 50%;
  background: white;
  padding: 15px;
  border-radius: 3px;
  text-align: center;
  margin: auto;
}