* {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.title {
  font-weight: bold;
  color: rgb(20 13 117);
}

body {
  background-color: rgb(242 184 142);
}

nav {
  font-weight: bold;
  color: rgb(20 13 117);
}

p {
  color: black;
  font-weight: 400;
}

/* might change underline to bottom border */
.name {
  font-weight: 600;
  color: rgb(20 13 117);
  text-decoration: underline;
}

.section,.sched-sect {
  background-color: transparent;
  width: fit-content;
  padding: 10px 10px 10px 10px
}
.section:hover,.sched-sect:hover {
  background-color: green;
}
#listofstuffs, #sched {
  display: inline-grid;
  margin: auto;
}
